.afriknow-btn {
    border-radius: $space-2;
    border-width: $space-1;
    border-color: $complementary;

    color: $complementary;
    // height: $space-16;
    padding: $space-4 $space-6;
    word-wrap: normal;
    word-break: keep-all;
    font-weight: bold;
    &.-bare {
        border-color: $complementary;
    }

    &.-small {
        padding: $space-1 $space-2;
        font-size: $text-xs;
        height: $space-12;
    }

    &.-full {
        color: $white;
        background-color: $accent;
        border-color: $accent;

        font-weight: bold;

    }

    &.-alert {
        background-color: red;
        color: $white;
        border-color: transparent;
    }
}
