<StackLayout>
    <ng-container *ngFor="let item of reports$ | async">

        <FlexboxLayout>

            <StackLayout orientation="vertical">

                <Button (tap)="onOpen(item)" [text]="item.name"></Button>
                <Label [text]="item.lastModified.toLocaleDateString()"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Button (tap)="onShare(item)" [text]="'Share'"></Button>
                <Button (tap)="onDelete(item)" [text]="'Delete'"></Button>
            </StackLayout>
        </FlexboxLayout>
    </ng-container>
</StackLayout>
