<ListView [items]="reports$ | async">
    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <FlexboxLayout justifyContent="space-between">
            <StackLayout orientation="vertical">
                <Label [text]="item.name"></Label>
                <Button class="fas" (tap)="onOpen(item)" [text]="'&#xf15b;'"></Button>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Button class="fas" (tap)="onShare(item)" [text]="'&#xf064;'"></Button>
                <Button class="fas" (tap)="onDelete(item)" [text]="'&#xf1f8;'"></Button>
            </StackLayout>
        </FlexboxLayout>
    </ng-template>
</ListView>
