<ActionBar [title]="folderName || 'My Reports'">
    <NavigationButton text="Go back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <ActionItem [text]="'Mock data'" (tap)="mock()"></ActionItem>
</ActionBar>
<StackLayout></StackLayout>
<!-- <ListView [items]="entities$ |async">
    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">

        <FlexboxLayout justifyContent="space-between">
            <ng-container [fileEntity]="item" (onOpen)="onOpen($event)"></ng-container>
        </FlexboxLayout>
    </ng-template>
</ListView> -->

<ScrollView>
    <StackLayout justifyContent="space-between">
        <ng-container [fileEntity]="item" (onOpen)="onOpen($event)" *ngFor="let item of entities$ | async">

        </ng-container>
    </StackLayout>
</ScrollView>
