<Label class="form-item__label" [text]="question.label"></Label>
<Label class="form-item__hint" textWrap="true" *ngIf="question.hint" [class]="showError ? 'color-error' : ''"
  [text]="question.hint"></Label>
<StackLayout>

  <TextView whiteSpace="normal" class="text-field mt-4" [keyboardType]="question.keyboardType"
    [returnKeyType]=" question.returnKeyType " [id]="question.key" [required]="question.required"
    [hint]="question.placeholder"  [autocorrect]="false"
    [formControl]="question.formControl">
  </TextView>
</StackLayout>
<StackLayout>
  <Label class="form-item__error"
    *ngIf="question.formControl.errors?.min && question.formControl.invalid && (question.formControl.touched || question.formControl.dirty)"
    [text]="'Minimum of ' + question.formControl.errors?.min.min"></Label>
  <Label class="form-item__error"
    *ngIf="question.formControl.errors?.max && question.formControl.invalid && (question.formControl.touched || question.formControl.dirty)"
    [text]="'Maximum of ' + question.formControl.errors?.max.max"></Label>
</StackLayout>
