<StackLayout class="mt-6 form-item" [formGroup]="form" [class]="question.formControl.disabled ? 'hidden' : ''">

  <Label class="form-item__label" [text]="question.label"></Label>
  <FlexboxLayout>
    <TextField flexShrink="1" flexGrow="0" class="text-field" [keyboardType]="question.keyboardType"
      [returnKeyType]="question.returnKeyType" [id]="question.key" [required]="question.required"
      [hint]="question.placeholder" [maxlength]="question.maxLength" [autocorrect]="false"
      [formControl]="question.formControl">
    </TextField>
    <Label flexGrow="1" flexShrink="0" class="text-field__unit ml-6" *ngIf="question.unit" [text]="question.unit"></Label>
  </FlexboxLayout>
  <StackLayout>
    <Label class="text-sm mt-2" [text]="question.hint"></Label>
    <Label class="form-item__error mt-2 text-sm" *ngIf="showError" [text]="question.errorText"></Label>
  </StackLayout>
</StackLayout>
