<ActionBar title="Home">

</ActionBar>
<FlexboxLayout class="m-12" flexDirection="column" justifyContent="center" alignItems="center">
    <Button class="afriknow-btn" [nsRouterLink]="['/report']" pageTransition="slide">
        <FormattedString>
            <Label [text]="'&#xe494;\n'" class="fas"></Label>
            <Label [text]="'New report'"></Label>
        </FormattedString>
    </Button>
    <Button class="afriknow-btn" [nsRouterLink]="['/files']" pageTransition="slide">
        <FormattedString>
            <Span [text]="'&#xf07b;\n'" class="fas"></Span>
            <Label [text]="'My Reports'"></Label>
        </FormattedString>
    </Button>
</FlexboxLayout>
