@import "../../../styles/variables/spacing";
@import "../../../styles/variables/typography";
@import "../../../styles/variables/colors";

.afriknow-btn {
  margin: $space-8;
  width: 100%;
  height: 100%;
  border-radius: $space-8;
  font-weight: bold;
  line-height: $space-16;
  font-size: $text-xl;
  .fas {
    font-size: 60%;
  }
  line-height: $space-16;
}
