  <Label class="text-lg form-item__label" textWrap="true" [text]="question.label"></Label>
  <FlexboxLayout class="mt-6" justifyContent="space-around" alignItems="center">
    <Label class="text-md" [class]="question.value ? '' : 'color-error'" textWrap="true" [text]="'NO'"></Label>
    <Switch alignItem="center" class="" checked="{{ question.value }}" [required]="question.required" [formControl]="question.formControl"
      (checkedChange)="onCheckedChange($event)"></Switch>
    <Label class="text-md" [class]="question.value ? 'color-accent' : ''" textWrap="true" [text]="'YES'"></Label>
  </FlexboxLayout>

  <Label class="form-item__error" *ngIf="showError" [text]="question.errorText"></Label>
