:root {

  }

//   :root,
//   * {
    $text-base: 100;
    $text-scale-ratio: 1.2;

    // inspired by https://codyhouse.co/blog/post/responsive-layouts-css-custom-properties-em-units
    $text-xs: calc((15 / $text-scale-ratio) / $text-scale-ratio);
    $text-sm: calc($text-xs * $text-scale-ratio);
    $text-md: calc(
      $text-sm * $text-scale-ratio * $text-scale-ratio);
    $text-lg: calc($text-md * $text-scale-ratio);
    $text-xl: calc($text-lg * $text-scale-ratio);
    $text-xxl: calc($text-xl * $text-scale-ratio);
    $text-xxxl: calc($text-xxl * $text-scale-ratio);

    $line-height-xs: 0.8;
    $line-height-sm: 0.9;
    $line-height-md: 1.2;
    $line-height-lg: 1.4;
    $line-height-xl: 1.6;
    $line-height-xxl: 1.8;
    $line-height-xxxl: 2;
//   }

  h1,
  .text-xxl {
    font-size: $text-xxl;
    line-height: $line-height-lg;
  }

  h2,
  .text-xl {
    font-size: calc($text-xl);
    line-height: $line-height-md;
  }

  h3,
  .text-lg {
    font-size: calc($text-lg);
    line-height: $line-height-lg;
  }


  h4,
  h5,
  h6,
  .text-md {
    font-size: $text-md;
    line-height: $line-height-md;
  }

  .text-sm {
    font-size: $text-sm;
    line-height: $line-height-md;
  }

  .text-xs {
    font-size: $text-xs;
    line-height: $line-height-xl;
  }

  .align-center {
    text-align: center;
  }
