.mt-2 {
  margin-top: $space-2;
}

.ml-4 {
  margin-left: $space-4;
}

.mt-4 {
  margin-top: $space-4;
}

.mr-4 {
  margin-right: $space-4;
}

.mb-6 {
  margin-bottom: $space-6;
}

.mt-6 {
  margin-top: $space-6;
}

.ml-6 {
  margin-left: $space-6;
}

.m-12 {
  margin: $space-12;
}

.mb-12 {
  margin-bottom: $space-12;
}
.mt-12 {
  margin-top: $space-12;
}

.p-6 {
  padding: $space-6;
}

.text-center {
  text-align: center;
}

.color-accent {
  color: $accent;
}

.color-complementary {
  color: $complementary;
}

.color-error {
  color: $color-error;
}
